<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 vinheta">
                <span>Avaliação de Dados Cadastrados</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="panel panel-primary panel-formulario-codigo">
                    <div class="panel-heading">
                        <p>Avaliação dos Dados</p>
                        <form [formGroup]="aprovacaoForm">
                            <div class="form-check" style="padding-top: 15px">
                                <input class="form-check-input" formControlName="avaliar" type="radio" name="avaliar" id="exampleRadios1" value="1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Aprovar Dados
                                </label>
                            </div>
                            <div class="form-check" style="padding-bottom: 15px">
                                <input class="form-check-input" formControlName="avaliar" type="radio" name="avaliar" id="exampleRadios2" value="0">
                                <label class="form-check-label" for="exampleRadios2">
                                    Dados não Conferem
                                </label>
                            </div>
                            <div *ngIf="aprovacaoForm.value.avaliar == 0" class="input-group">
                                <textarea formControlName="observacoes_avaliacao" width="100%" rows="4" placeholder="Digite aqui seu comentário para o servidor"></textarea>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-12 col-botao">
                                    <button (click)="enviarDados(aprovacaoForm.value)" type="submit" class="btn botao-principal">Enviar Avaliação</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 order-lg-first">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger" role="alert">
                        Erro ao realizar o cadastro de dados
                    </div>
                </div>
                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="usuarioForm">
                        <div class="row">
                            <input disabled type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                            <div class="col-12 col-lg-12">
                                <div class="form-group">
                                    <span>Nome Completo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nome" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Matrícula do IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="matricula" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Nascimento</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nascimento" [(ngModel)]="model3" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>E-mail</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="email" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Telefone</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" name="telefone" formControlName="telefone" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_ifmt" [(ngModel)]="model1" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_campus" [(ngModel)]="model2" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" [value]="campus">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Área de Formação</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" [value]="area">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <span>Cargo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" [value]="cargo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>