@import '~/../../../../../styles.scss';
.botao-invalido {
    @include rem(font-size, 18);
    background-color: $corErro;
    color: $corBranca;
    font-family: $font-family-Lato-Bold;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.botao-invalido:hover {
    background-color: $corBranca;
    color: $corErro;
    border: 1px solid $corErro;
}

.col-botao {
    justify-content: end;
    display: grid;
    min-width: 200px!important;
}

textarea {
    background-color: transparent;
    border: 1px solid #010b19;
    border-radius: 0px;
    color: #010b19;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 15px;
    padding: 15px;
}

.panel-heading {
    text-align: center
}

.panel-formulario-codigo {
    position: relative;
}