@import '~/../../../../../styles.scss';
.panel-formulario-lista {
    span {
        font-family: $font-family-Lato-Bold;
        @include rem(font-size, 20);
        text-align: left;
        color: $corEscura;
    }
    .form-control {
        @include rem(margin-top, 5);
        display: block;
        width: 100%;
        // height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #1f2c30;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
}

.col-config {
    display: flex;
    align-items: flex-end;
    height: 66px;
}

.botao-principal {
    height: 38px;
}

.botao-cancelar {
    height: 38px;
}

.modal {
    h5 {
        color: $corSecundaria;
        font-family: $font-family-Lato-Black;
    }
    .modal-body {
        font-family: $font-family-Lato-Regular;
    }
}