<div *ngIf="verificarAprovacao == 0; else aprovado" class="panel panel-primary panel-formulario-lista">
    <form [formGroup]="inscricaoForm">
        <div class="row">
            <input disabled type="hidden" value="add" name="input_action" id="input_action" class="input_action">

            <div class="col-12 col-md-3">
                <div class="form-group">
                    <span>Classificação Atual</span>
                    <div class="input-group">
                        <input disabled type="text" class="input-formulario form-control" formControlName="posicao" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <span>Campus para Remoção</span>
                    <div class="input-group">
                        <input disabled type="text" class="input-formulario form-control" formControlName="campus" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-config">
                <div class="row justify-content-center">
                    <div class="">
                        <button (click)="cancelar($event)" class="btn botao-principal">Cancelar Inscrição</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<ng-template #aprovado>
    <div *ngIf="verificarAprovacao == 1">
        <div class="alert alert-success text-center" role="alert">
            <b> Sua Remoção para o Campus {{ campus }} foi aprovada!</b>
            <hr> Aceite a Remoção e Entre em Contato com a Reitoria para entrega de documentação!
        </div>
        <div class="row float-right">
            <div class="col-12">
                <button data-toggle="modal" data-target="#cancelarRemocao" class="btn botao-cancelar" style="margin-right: 5px;">Cancelar Remoção</button>
                <button (click)="aceitarRemocao($event)" class="btn botao-principal" style="margin-left: 5px;">Aceitar Remoção</button>
            </div>
        </div>
    </div>
    <div *ngIf="verificarAprovacao == 2">
        <div class="alert alert-success text-center" role="alert">
            <b>Você aceitou a Remoção para o Campus {{ campus }}. Verifique o trâmite da Remoção com a Reitoria.</b>
        </div>
    </div>
    <div *ngIf="verificarAprovacao == 3">
        fazer
    </div>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="cancelarRemocao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Cancelar Remoção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Realmente deseja cancelar sua Aprovação de Remoção para o Campus {{ campus }}?
                <br> Ao rejeitar a Remoção seu sistema será automaticamente bloqueado por 90 dias.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn botao-principal" data-dismiss="modal">Fechar</button>
                <button (click)="cancelarRemocao($event)" class="btn botao-cancelar">Cancelar Remoção</button>
            </div>
        </div>
    </div>
</div>