<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Relatório de Remoção</span>
            </div>
            <div class="panel-formulario panel-formulario-pesquisa">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="input-formulario form-control" [(ngModel)]="term" placeholder="Pesquisar" />
                        <div class="input-group-append">
                            <button class="btn btn-calendario" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row ">
                    <div style="width: 100% " *ngIf="alerta_de_remocao; else listaRemocoes">
                        <p class="alert alert-danger text-danger text-center " role="alert">
                            <b>Nenhum Servidor Removido!</b>
                        </p>
                    </div>
                </div>
                <ng-template #listaRemocoes>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Servidor</th>
                                <th scope="col">Campus Origem</th>
                                <th scope="col">Campus Destino</th>
                                <th scope="col">Data Remoção</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dadosRemocao |filter:term | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                                <td>
                                    <div class="item-list-text">{{ itemsPerPage * (currentPage - 1) + i+1 }}</div>
                                </td>

                                <td>
                                    <div class="item-list-text">{{ item.nome }}</div>
                                </td>

                                <td>
                                    <div class="item-list-text">{{ item.campus_origem }}</div>
                                </td>

                                <td>
                                    <div class="item-list-text ">{{ item.campus_destino }}</div>
                                </td>

                                <td>
                                    <div class="item-list-text ">{{ dataFormat(item.data_publicacao) }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-12">
                        <div class="row row-paginacao justify-content-center">
                            <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Próximo" autoHide="true" responsive="true"></pagination-controls>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>