<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 vinheta">
                <span>Cadastro de Dados</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="panel panel-primary panel-formulario-codigo">
                    <div class="panel-heading">
                        <p>Para que serve o cadastro de dados?</p>
                        <span>Este cadastro é necessário para realizar a inscrição para Remoção de Servidores do IFMT.
                            Após a submissão deste formulário os dados serão enviados para a Reitoria do IFMT para que sejam aprovados.
                            Após a aprovação dos dados a inscrição para Remoção de Servidor ficará disponível em seu sistema.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 order-lg-first">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger" role="alert">
                        Erro ao realizar o cadastro de dados
                    </div>
                </div>
                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="usuarioForm" (ngSubmit)="postUsuario(usuarioForm)" class="FomularioDadosPessoais" id="FomularioDadosPessoais">
                        <div class="row">
                            <input type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                            <div class="col-12 col-lg-12">
                                <div class="form-group">
                                    <span>Nome Completo</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" formControlName="nome" placeholder="Digite seu nome" required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Matrícula do IFMT</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" [ngClass]="[matricula.invalid && (matricula.dirty || matricula.touched) ? 'is-invalid' : '']" formControlName="matricula" placeholder="Digite sua matrícula" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Nascimento</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" formControlName="nascimento" placeholder="Digite a sua data de nascimento" [(ngModel)]="model3" ngbDatepicker #d3="ngbDatepicker" [minDate]="{year: 1930, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}"
                                            [markDisabled]="isDisabled">
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" (click)="d3.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>E-mail</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" formControlName="email" placeholder="Digite seu e-mail" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Telefone</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" formControlName="telefone" placeholder="Digite seu telefone" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no IFMT</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" formControlName="data_ingresso_ifmt" placeholder="Digite a sua data de Ingresso no IFMT" [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker" [minDate]="{year: 1930, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}"
                                            [markDisabled]="isDisabled">
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" (click)="d1.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no Campus Atual</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" formControlName="data_ingresso_campus" placeholder="Digite a data de Ingresso no Campus Atual" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" [minDate]="{year: 1930, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}"
                                            [markDisabled]="isDisabled">
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" (click)="d2.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus Atual</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control" formControlName="campus_atual">
                                            <option [ngValue]="null">Escolha o seu campus</option>                                            
                                            <option *ngFor="let item of dataSourceCampus" value="{{item.id}}">{{item.nome}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Área de Formação</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control" formControlName="area" (change)="onChangeArea($event.target.value)">
                                            <option [ngValue]="null">Escolha a sua Formação</option>                                            
                                            <option value="1"> Professor do Ensino Básico, Técnico e Tecnológico </option>
                                            <option value="2"> Técnico </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12" *ngIf="definir_cargo">
                                <div class="form-group">
                                    <span>Cargo</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control form-cargo" formControlName="cargo">
                                            <option [ngValue]="null">Escolha o seu Cargo</option>                                            
                                            <option *ngFor="let item of dataSourceCargo" value="{{item.id}}">{{item.nome}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <re-captcha (resolved)="resolved($event)" formControlName="recaptchaReactive"></re-captcha>
                            </div>

                            <div class="col-12">
                                <div class="row align-items-center float-right botoes-sic">
                                    <div class="col-box-sic-btn">
                                        <a href="Inscricoes/">
                                            <span>Cancelar</span>
                                        </a>
                                    </div>
                                    <div class="float-right">
                                        <button type="submit" class="btn botao-principal" [disabled]="!usuarioForm.valid">Enviar seus Dados</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>