<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Editar Bloqueio de Servidor</span>
            </div>
            <div class="crud">
                <a [routerLink]="['/Admin/Bloqueios']" class=" btn botao-principal-invertido ">Voltar</a>
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger text-center" role="alert">
                        Erro ao editar este bloqueio
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bloqueio">
            <div class="col-12 col-lg-4">
                <div class="panel panel-primary panel-formulario panel-formulario-codigo">
                    <div class="panel-heading">
                        <p>Editar Bloqueio</p>
                        <form [formGroup]="bloqueioForm">
                            <div class="form-group">
                                <span>Bloquear até o dia:</span>
                                <div class="input-group">
                                    <input type="text" class="input-formulario form-control" formControlName="data_liberacao" placeholder="Digite a data de desbloqueio" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" [minDate]="{year: 2019, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}"
                                        [markDisabled]="isDisabled">
                                    <div class="input-group-append">
                                        <button class="btn btn-calendario" (click)="d2.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group">
                                <span>Justificativa</span>
                                <textarea formControlName="justificativa" width="100%" rows="4" placeholder="Digite aqui seu comentário para o servidor"></textarea>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-12 col-botoes">
                                    <button (click)="enviarDados(bloqueioForm.value)" type="submit" [disabled]="!bloqueioForm.valid" class="btn botao-principal margin-left">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-8 order-lg-first">

                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="usuarioForm">
                        <div class="row">
                            <input disabled type="hidden" value="add" name="input_action" id="input_action" class="input_action">
                            <div class="col-12 col-lg-12">
                                <div class="form-group">
                                    <span>Nome Completo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nome" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Matrícula do IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="matricula" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Nascimento</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nascimento" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>E-mail</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="email" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Telefone</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" name="telefone" formControlName="telefone" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_ifmt" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_campus" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="campus_atual">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Área de Formação</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="area">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <span>Cargo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="cargo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>