<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 vinheta">
                <span>Dados Cadastrados</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div *ngIf="bloquear_edicao; then edicaoBloqueada; else avisos_dados"></div>
                <ng-template #edicaoBloqueada>
                    <div *ngIf="aprovacao_remocao == 0; else remocaoAprovada">
                        <div class="panel panel-primary panel-formulario-codigo" *ngIf="situacao_usuario == 1">
                            <div class="panel-heading">
                                <p>Cadastro Permanente de Remoção Realizado!</p>
                                <span>Sua inscrição para o Cadastro Permanente de Remoção foi realizada. Para editar seus dados pessoais é necessário cancelar a inscrição de remoção.
                                    Ao cancelar sua inscrição para remoção seu sistema será automaticamente bloqueado por 90 dias.
                                </span>
                            </div>
                        </div>
                        <div class="panel panel-primary panel-formulario-codigo" *ngIf="situacao_usuario == 2">
                            <div class="panel-heading">
                                <p>Sistema Bloqueado!</p>
                                <span>O seu sistema foi bloqueado. Qualquer dúvida entre em contato com a Reitoria.</span>
                            </div>
                        </div>
                    </div>
                    <ng-template #remocaoAprovada>
                        <div>
                            <div class="panel panel-primary panel-formulario-codigo" *ngIf="situacao_usuario == 1">
                                <div class="panel-heading">
                                    <p>Remoção Aprovada!</p>
                                    <span>Sua Remoção de Campus foi aprovada. Entre em contato com a Reitoria.
                                    </span>
                                </div>
                            </div>
                            <div class="panel panel-primary panel-formulario-codigo" *ngIf="situacao_usuario == 2">
                                <div class="panel-heading">
                                    <p>Sistema Bloqueado!</p>
                                    <span>O seu sistema foi bloqueado. Qualquer dúvida entre em contato com a Reitoria.</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </ng-template>
                <ng-template #avisos_dados>
                    <div class="panel panel-primary panel-formulario-codigo" *ngIf="aprovacao_dados == 0">
                        <div class="panel-heading">
                            <p>Aguardando Aprovação de Dados</p>
                            <span> Seus dados foram enviados para a Reitoria do IFMT para que sejam aprovados.
                                        Após a aprovação dos dados a inscrição para Remoção de Servidor ficará disponível em seu sistema.
                                    </span>
                            <div class="float-right">
                                <button (click)="editarDados($event)" type="submit" class="btn botao-principal">Editar Dados</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-formulario-codigo" *ngIf="aprovacao_dados == 1">
                        <div class="panel-heading">
                            <p>Dados Aprovados!</p>
                            <span> Seus dados foram aprovados pela Reitoria do IFMT. 
                                           Qualquer modificação nos seus dados haverá o bloqueio da inscrição para remoção e os dados serão encaminhados novamente para aprovação da Reitoria.
                                    </span>
                            <div class="float-right">
                                <button (click)="editarDados($event)" type="submit" class="btn botao-principal">Editar Dados</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary panel-formulario-codigo" *ngIf="aprovacao_dados == 2">
                        <div class="panel-heading">
                            <p>Dados Inconsistentes</p>
                            <span> Seus dados foram avaliados pela Reitoria do IFMT. Atualize suas informações conforme comentário de avaliação e reencaminhe para análise. 
                                            Após a aprovação dos dados a inscrição para Remoção de Servidor ficará disponível em seu sistema.
                                            </span>

                            <div class="row justify-content-center">
                                <button (click)="visualizarAvaliacao($event)" type="submit" class="btn botao-principal" style="margin-right: 5px;">Avaliação</button>
                                <button (click)="editarDados($event)" type="submit" class="btn botao-principal" style="margin-left: 5px;">Editar Dados</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>


            <div class="col-12 col-lg-8 order-lg-first">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger" role="alert">
                        Erro ao realizar o cadastro de dados
                    </div>
                </div>
                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="usuarioForm">
                        <div class="row">
                            <input disabled type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                            <div class="col-12 col-lg-12">
                                <div class="form-group">
                                    <span>Nome Completo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nome" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Matrícula do IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" [ngClass]="[matricula.invalid && (matricula.dirty || matricula.touched) ? 'is-invalid' : '']" formControlName="matricula" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Nascimento</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nascimento" [(ngModel)]="model3" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>E-mail</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="email" [value]="email" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Telefone</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" name="telefone" formControlName="telefone" [value]="telefone" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_ifmt" [(ngModel)]="model1" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_campus" [(ngModel)]="model2" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" [value]="campus">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Área de Formação</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" [value]="area">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <span>Cargo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" [value]="cargo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>