<div class="fix-header fix-sidebar">
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a class="nav-img" href="">
                            <b>                        
                                <img class="img-fluid" src="../../../assets/imagens/sisrif.png" styles="max-width: 100px" alt="homepage" class="dark-logo" />
                            </b>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" [routerLink]="['/Admin/Usuarios-Cadastrados']" routerLinkActive="active" aria-expanded="false">
                            <i class="fas fa-users"></i><span class="hide-menu">Usuários Cadastrados</span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" [routerLink]="['/Admin/Aprovacao-Dados']" routerLinkActive="active" aria-expanded="false">
                            <i class="fas fa-user-check"></i><span class="hide-menu">Aprovação de Dados</span>
                        </a>
                    </li>
                    <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-list-ul"></i><span class="hide-menu">Vagas</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-university"></i><span class="hide-menu">Campi</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-id-badge"></i><span class="hide-menu">Cargos</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-user-slash"></i><span class="hide-menu">Bloqueios</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-user-shield"></i><span class="hide-menu">Administradores</span></a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
</div>



<div class="container-fluid-admin">
    <router-outlet></router-outlet>
</div>