<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Manutenção de Vagas</span>
            </div>
            <div class="crud">
                <a [routerLink]="['/Admin/Vagas/Cadastrar']" class=" btn botao-principal-invertido "><i class="fas fa-plus "></i>Adicionar</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 ">
                <div class="row ">
                    <div style="width: 100% " *ngIf="mensagem">
                        <p class="alert alert-success text-success text-center" role="alert ">
                            <b> {{ mensagem }} </b>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                    </div>
                </div>

                <div class="row ">
                    <div style="width: 100% " *ngIf="alerta_de_vagas; else listaVagas ">
                        <p class="alert alert-danger text-danger text-center " role="alert">
                            <b>Nenhuma Vaga Cadastrada!</b>
                        </p>
                    </div>
                </div>

                <ng-template #listaVagas>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col ">#</th>
                                <th scope="col ">Campus</th>
                                <th scope="col ">Area</th>
                                <th scope="col ">Cargo</th>
                                <th scope="col" class="col-config">Configurações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataSource | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                                <td>
                                    <div class="item-list-text">{{ itemsPerPage * (currentPage - 1) + i+1 }}</div>
                                </td>

                                <td class="col-conteudo">
                                    <div class="item-list-text">{{ item.campus }}</div>
                                </td>

                                <td class="col-conteudo ">
                                    <div class="item-list-text">{{ item.area }}</div>
                                </td>

                                <td class="col-conteudo">
                                    <div class="item-list-text ">{{ item.cargo }}</div>
                                </td>

                                <td class="col-botao">
                                    <a *ngIf="item.status == 'atribuido'" (click)="Inscricoes(item.id)" class="btn bg-light-primary-2"><i class="fas fa-user-check"></i></a>
                                    <a *ngIf="item.status == 'criado'" (click)="Inscricoes(item.id)" class="btn bg-light-primary"><i class="fas fa-user"></i></a>
                                    <a (click)="Editar(item.id)" class="btn bg-light-secundary "><i class="fas fa-pencil-alt"></i></a>
                                    <a (click)="setaDadosModal(item.id)" data-toggle="modal" data-target="#excluir_vaga" class="btn bg-light-terciary "><i class="fas fa-times "></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-12">
                        <div class="row row-paginacao justify-content-center">
                            <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Próximo" autoHide="true" responsive="true"></pagination-controls>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="excluir_vaga" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Excluir Vaga</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                Realmente deseja excluir esta vaga?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn botao-principal-invertido" data-dismiss="modal">Fechar</button>
                <button (click)="Excluir(id_vaga)" class="btn botao-cancelar" data-dismiss="modal">Excluir Vaga</button>
            </div>
        </div>
    </div>
</div>