<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 vinheta">
                <span>Cadastro Permanente de Remoção</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="">
            <div class="col-12" style="padding: 0;">
                <div class="panel panel-principal panel-formulario-remocao">
                    <div id="stepper1" class="bs-stepper">
                        <div class="bs-stepper-header">
                            <div class="step" data-target="#remocao-l-1">
                                <button class="step-trigger">
                                        <span class="bs-stepper-circle">1</span>
                                        <span class="bs-stepper-label">Critérios</span>
                                    </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#remocao-l-2">
                                <button class="step-trigger">
                                        <span class="bs-stepper-circle">2</span>
                                        <span class="bs-stepper-label">Classificação</span>
                                    </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#remocao-l-3">
                                <button class="step-trigger">
                                        <span class="bs-stepper-circle">3</span>
                                        <span class="bs-stepper-label">Divulgação</span>
                                    </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#remocao-l-4">
                                <button class="step-trigger">
                                        <span class="bs-stepper-circle">4</span>
                                        <span class="bs-stepper-label">Inscrição</span>
                                    </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <div id="remocao-l-1" class="content">
                                <span>Considerando a aprovação da Resolução CONSUP- IFMT nº058/2018 a DSGP
                                            informa que foi alterado a metodologia de remoção de servidores que será 
                                            realizada de forma permanente e não mais através de editais lançados conforme
                                            demanda no decorrer do ano. Dessa forma disponibilizamos através dessa ferramenta
                                            a possibilidade de inscrição de servidores do IFMT interessados em remoção entre
                                            campi conforme critérios e procedimentos estabelecidos na Resolução CONSUP- IFMT nº 58/2018:</span>
                                <br>
                                <br>
                                <span><b>Critérios:</b></span>
                                <br>

                                <ul class="lista-remocao">
                                    <li>I. Estar em efetivo exercício no IFMT;</li>
                                    <li>II. Ter adquirido estabilidade, na forma do Artigo 41 da Constituição Federal do Brasil, e, não havendo candidato habilitado, admitir-se-á servidores em estágio probatório;</li>
                                    <li>III. Ter cumprido no campus de origem tempo de efetivo exercício igual ou superior ao tempo de afastamento concedido para fins de capacitação em nível de pós-graduação;</li>
                                    <li>IV. Não estar em gozo de quaisquer licenças ou afastamentos, exceto em casos de Licença para Tratamento de Saúde, Licença Maternidade, Licença Paternidade e Férias;</li>
                                    <li>V. Não tenha sofrido nenhuma das penalidades previstas no artigo 127, da Lei no 8.112/1990, nos últimos 12 (doze) meses;</li>
                                    <li>VI. Não estar reprovado na avaliação de desempenho vigente.</li>
                                </ul>
                                <div class="row justify-content-end">
                                    <button (click)="next()" class="btn botao-principal">Next</button>
                                </div>
                            </div>
                            <div id="remocao-l-2" class="content">
                                <span>O critério de ordenação no cadastro permanente de remoção, será por unidade organizacional,
                                            exceto para os campi da baixada cuiabana (Cuiabá - Octayde Jorge da Silva, Cuiabá - Bela Vista
                                            e Várzea Grande) e ainda para a Reitoria no caso de técnico-administrativos havendo uma única lista,
                                            seguido do maior tempo de efetivo exercício na unidade organizacional a qual está lotado no momento da inscrição.</span>
                                <br>
                                <br>
                                <span><b>Em caso de empate será utilizado como critério de desempate a seguinte ordem:</b></span>
                                <br>

                                <ul class="lista-remocao">
                                    <li>I. Maior tempo de efetivo exercício no Instituto Federal de educação, Ciência e Tecnologia de Mato Grosso – IFMT;</li>
                                    <li>II. Maior idade;</li>
                                </ul>
                                <br>
                                <span><b>Não será permitido ao candidato a alteração de sua opção de destino a qualquer tempo.
                                    Para alterar a opção de destino no Cadastro Permanente de Remoção o servidor interessado devera retirar seu nome do referido cadastro e aguardar 90 dias para uma nova inserção.</b></span>
                                <br>
                                <br>
                                <div class="row justify-content-end">
                                    <button (click)="next()" class="btn botao-principal">Next</button>
                                </div>
                            </div>
                            <div id="remocao-l-3" class="content">
                                <span>A comissão de Avaliação do Cadastro Permanente do Cadastro Permanente de Remoção,
                                        divulgará  neste site a lista dos candidatos por ordem de classificação conforme 
                                        artigo 9º da Resolução CONSUP - IFMT n º 058/2018.
                                    </span>
                                <br>
                                <br>
                                <span>Procedimentos de remoção: <br>
                                        Havendo demanda em uma unidade organizacional e disponibilidade de vaga,
                                        incluindo-se as decorrentes de autorização ministerial, vacância por posse 
                                        inacumulável (quando não adquirido a estabilidade), exoneração, demissão, remoção,
                                        aposentadoria ou redistribuição, o dirigente da unidade deverá encaminhar para a DSGP 
                                        o pedido de reposição de vaga.
                                    </span>
                                <br><br>
                                <span>Nos casos em que por adequação de quadro de pessoal em virtude de remoção definitiva de ofício ou por motivo de saúde independentemente do interesse da administração mediante a necessidade de adequação do quadro de pessoal, não haverá disponibilidade de remoção para o cadastro permanente no Campus de origem da vaga, mas vaga para reposição no Campus de origem da remoção de ofício ou por motivo de saúde.</span>
                                <br><br>
                                <span>Caso não haja candidatos inscritos para uma unidade organizacional poderão ser aproveitados os candidatos inscritos para outra unidade, obedecendo-se ao critério de maior proximidade geográfica, e o interesse do servidor.
                                                        Entende-se como unidade mais próxima aquela com menor distância rodoviária em quilômetros.</span>
                                <br><br>
                                <span>A DSGP será responsável pela abertura do processo de remoção, conforme classificação permanente, e tramitação do mesmo conforme fluxos estabelecidos na Resolução 58/2018.</span>
                                <br><br>
                                <span>O candidato que for consultado sobre o interesse em ser removido para uma unidade organizacional diferente da qual se inscreveu e recusar a oferta, permanecerá na lista de interesse na unidade organizacional em que se encontra inscrito. 
                                                Após a consulta, o candidato terá até 03 (três) dias úteis para manifestar-se formalmente, perdendo o direito à preferência caso não o faça, procedendo-se, neste caso, ao chamamento do próximo candidato inscrito.</span>
                                <br><br>
                                <span>
                                            A consulta será realizada pela DSGP através do e-mail institucional.
                                            O candidato que for consultado a remoção para a unidade organizacional em que se inscreveu e recusar deverá formalizar sua desistência, através do preenchimento da Declaração de Declínio da Remoção, no prazo de 03 (três) dias úteis.
                                        </span>
                                <br><br>
                                <span>Decorrido o prazo estabelecido no caput deste artigo, sem a manifestação do servidor, será automaticamente excluído do Cadastro Permanente de Remoção.
                                                A desistência formalizada pelo servidor acarretará a exclusão do mesmo do Cadastro Permanente de Remoção.</span>
                                <br><br>
                                <span>Em caso de omissão ou desistência formalizada o servidor poderá solicitar nova inscrição no Cadastro Permanente de Remoção somente depois de transcorrido o prazo de 90 (noventa) dias, a contar da data em que foi consultado ou da exclusão por motivo de omissão.</span>

                                <br><br>
                                <span>Os servidores lotados na baixada cuiabana (Cuiabá - Octayde Jorge da Silva, Cuiabá - Bela Vista, Várzea Grande e Reitoria) deverão se inscrever nessa opção e quando da abertura de vagas nos campi da baixada haverá consulta formal sobre interesse na remoção.</span>

                                <br><br>
                                <span>Para inscrição no cadastro permanente de remoção para docentes será considerada a área do concurso em que houve a aprovação na época de ingresso na Instituição.
                                                O candidato classificado para a remoção poderá ser eliminado pela ausência de termo de compromisso firmado assumindo todos os componentes curriculares e horários determinados pelo campus de destino na declaração de demanda.</span>

                                <br><br>
                                <span>Após a indicação do servidor a ser removido, o mesmo deverá preencher o Termo de Aceite, e entregá-lo à CGP ou órgão equivalente da unidade organizacional.</span>
                                <br><br>

                                <span>A remoção, nos termos do disposto nesta seção, dar-se-á por meio de Portaria emitida pelo Reitor do Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso - IFMT,  que será emitida após a entrada em exercício do servidor que substituirá o servidor removido.
                                                O dirigente máximo da unidade organizacional do servidor a ser removido, poderá autorizar a publicação da portaria de remoção sem a entrada em exercício do servidor substituto quando não houver prejuízo da continuidade de atividades no campus.</span>
                                <br><br>
                                <span> O servidor somente estará autorizado a deslocar-se para a nova sede após o cumprimento de todas as suas obrigações pendentes na unidade de origem.</span>
                                <br><br>
                                <span><b>Efetivado o ato de remoção, caberá ao servidor:</b></span>
                                <br>

                                <ul class="lista-remocao">
                                    <li>I. cumprir a jornada de trabalho estabelecida na unidade organizacional para a qual foi removido, não havendo garantia de manutenção da carga horária, turno de trabalho e componentes curriculares idênticos ao qual estava
                                        vinculado na sua unidade de origem;</li>
                                    <li>II. entrar em efetivo exercício na nova unidade de lotação no prazo máximo de 15 (quinze) dias, contados da data da publicação da portaria de remoção, incluído nesse prazo o tempo necessário para o deslocamento à nova
                                        unidade, se houver necessidade de mudança de cidade.</li>
                                </ul>
                                <br>
                                <br>
                                <span><b>A inscrição no Cadastro Permanente de Remoção não garante ao servidor sua remoção, assim como não estabelece prazo para atendimento da mesma, objetivando apenas identificar os servidores interessados em alterar sua unidade de lotação.</b></span>
                                <div class="row justify-content-end">
                                    <button (click)="next()" class="btn botao-principal">Next</button>
                                </div>
                            </div>
                            <div id="remocao-l-4" class="content">
                                <div class="panel panel-primary panel-formulario">
                                    <form [formGroup]="InscricaoForm" (ngSubmit)="postInscricao(InscricaoForm)" class="FomularioDadosPessoais" id="FomularioDadosPessoais">
                                        <div class="row">
                                            <input type="hidden" value="add" name="input_action" id="input_action" class="input_action">
                                            <br><br>
                                            <br><br>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <span>Campus para Remoção</span>
                                                    <div class="input-group">
                                                        <select class="input-formulario form-control" formControlName="campus">
                                                                    <option [ngValue]="null">Escolha o Campus</option>                                            
                                                                    <option *ngFor="let item of dataSourceCampus" value="{{item.id}}">{{item.nome}} </option>
                                                                </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br><br>
                                            <br><br>

                                            <div class="col-12">
                                                <div class="form-group" style="padding-left: 20px;">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="opcao1" formControlName="confirmacao">
                                                    <label class="form-check-label" for="inlineCheckbox1">Declaro estar ciente de todo teor do Regulamento de Movimentação de Pessoas e do Cadastro Permanente de remoção do IFMT, instituído pela Resolução do Consup nº 58/2018, bem como os direitos e obrigações dos interessados em remoção. Declaro ainda que aceito os termos constantes no regulamento de movimentação de pessoas do IFMT.</label>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="row align-items-center justify-content-end">
                                                    <a class="btn botao-voltar" href="Inscricoes/" style="margin-right: 5px;">Cancelar</a>
                                                    <button type="submit" class="btn botao-principal" [disabled]="!InscricaoForm.valid" style="margin-left: 5px;">Enviar sua inscrição</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>