@import '~/../../../../../styles.scss';
.panel-formulario-remocao {
    border-radius: 8px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #f2f2f2;
    background-color: $corBranca;
    @include rem(padding, 30 30 30 30);
    @include rem(margin-bottom, 30);
    .botao {
        display: flex;
        width: 100%;
        justify-content: center;
        .botao-principal {
            margin-left: 0;
        }
    }
    .panel-heading {
        text-align: left;
        color: $corCInzaEscuro;
        p {
            @include rem(font-size, 23);
            font-weight: 900;
            line-height: 1.33;
            font-family: $font-family-Lato-Bold;
            margin: 0;
        }
        span {
            font-family: $font-family-Lato-Regular;
            @include rem(font-size, 18);
            @include rem(padding-top, 30);
            line-height: 2;
            display: block;
        }
    }
}

.botoes {
    text-align: end;
    margin-bottom: 15px;
}

.botao-voltar {
    @include rem(font-size, 18);
    background-color: $corBranca;
    border: 1px solid $corPrimaria;
    color: $corSecundaria;
    font-family: $font-family-Lato-Bold;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    // margin-left: 2rem;
    height: fit-content;
}

.botao-voltar:hover {
    background-color: $corPrimaria;
    color: $corBranca;
    border: 1px solid $corPrimaria;
}

.botao-principal {
    margin-top: 0px!important;
}

.lista-remocao {
    padding: 5px;
    li {
        list-style: none;
    }
}