<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Vaga para o Campus {{ campus }}</span>
            </div>
            <div class="crud">
                <a [routerLink]="['/Admin/Vagas']" class=" btn botao-principal-invertido ">Voltar</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 ">
                <div class="row ">
                    <div style="width: 100% " *ngIf="mensagem">
                        <p class="alert alert-success text-success text-center" role="alert ">
                            <b> {{ mensagem }} </b>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                    </div>
                </div>

                <div class="row ">
                    <div style="width: 100% " *ngIf="mensagem_error">
                        <p class="alert alert-danger text-danger text-center" role="alert ">
                            <b> {{ mensagem_error }} </b>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div style="width: 100% " *ngIf="alerta_de_inscrito; else listaServidores">
                        <p class="alert alert-danger text-danger text-center " role="alert">
                            <b>Nenhum Servidor Cadastrado!</b>
                        </p>
                    </div>
                </div>

                <ng-template #listaServidores>
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="panel panel-primary panel-formulario-codigo">
                                <div class="panel-heading" *ngIf="alerta_servidor; else statusVaga">
                                    <p>Atribuir Servidor</p>
                                    <form [formGroup]="aprovacaoForm">
                                        <div class="form-check" style="padding-top: 15px">
                                            <input class="form-check-input" formControlName="avaliar" type="radio" name="avaliar" id="exampleRadios1" value="1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                        Aprovar Servidor
                                                    </label>
                                        </div>
                                        <div class="form-check" style="padding-bottom: 15px">
                                            <input class="form-check-input" formControlName="avaliar" type="radio" name="avaliar" id="exampleRadios2" value="0">
                                            <label class="form-check-label" for="exampleRadios2">
                                                       Reprovar Servidor
                                                    </label>
                                        </div>
                                        <div *ngIf="aprovacaoForm.value.avaliar == 0" class="input-group">
                                            <textarea formControlName="observacoes_avaliacao" width="100%" rows="4" placeholder="Digite aqui seu comentário para o servidor"></textarea>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-12 col-botao">
                                                <button *ngIf="aprovacaoForm.value.avaliar == 0" (click)="enviarDados(aprovacaoForm.value)" type="submit" [disabled]="!aprovacaoForm.valid" class="btn botao-principal">Enviar</button>
                                                <button *ngIf="aprovacaoForm.value.avaliar == 1" (click)="enviarDados(aprovacaoForm.value)" type="submit" class="btn botao-principal">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <ng-template #statusVaga>
                                    <div class="panel-heading">
                                        <p>Status da Vaga</p>
                                        <br>
                                        <p class="alert alert-secondary text-center" role="alert ">
                                            {{ status }}
                                        </p>
                                        <div class="row justify-content-end">
                                            <div class="col-12 col-botao">
                                                <button data-toggle="modal" data-target="#excluir_atribuicao" type="submit" class="btn botao-cancelar">Cancelar</button>
                                                <button *ngIf="botao_publicar" (click)="publicarRemocao()" type="submit" class="btn botao-principal margin-left">Publicar</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 order-lg-first">
                            <div class="panel panel-primary panel-formulario">
                                <form [formGroup]="usuarioForm">
                                    <div class="row">
                                        <input disabled type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                                        <div class="col-12 col-lg-12">
                                            <div class="form-group">
                                                <span>Nome Completo</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" formControlName="nome" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>Matrícula do IFMT</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" formControlName="matricula" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>Data de Nascimento</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" formControlName="nascimento" [(ngModel)]="model3" ngbDatepicker>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>E-mail</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" formControlName="email" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>Telefone</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" name="telefone" formControlName="telefone" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>Data de Ingresso no IFMT</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_ifmt" [(ngModel)]="model1" ngbDatepicker>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>Data de Ingresso no Campus Atual</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_campus" [(ngModel)]="model2" ngbDatepicker>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>Campus Atual</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" [value]="campus">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <span>Área de Formação</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" [value]="area">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <span>Cargo</span>
                                                <div class="input-group">
                                                    <input disabled type="text" class="input-formulario form-control" [value]="cargo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </ng-template>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="excluir_atribuicao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Excluir Atribuição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="aprovacaoForm">

                <div class="modal-body">
                    Realmente deseja cancelar atribuição da Remoção para este Servidor? Insira abaixo o motivo.<br><br>
                    <div class="input-group">
                        <textarea formControlName="observacoes_avaliacao" width="100%" rows="4" placeholder="Digite aqui seu comentário para o servidor"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn botao-principal-invertido" data-dismiss="modal">Fechar</button>
                    <button (click)="excluirAtribuicao(aprovacaoForm.value)" [disabled]="!aprovacaoForm.valid" type="submit" class="btn botao-cancelar" data-dismiss="modal">Excluir Atribuição</button>
                </div>
            </form>

        </div>
    </div>
</div>