@import '~/../../../../../styles.scss';
@import '~/../../../administrador.component.scss';
.col-config {
    min-width: 160px!important;
}

.panel-formulario-codigo {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    width: 90%;
}

textarea {
    padding: 15px;
    width: 100%;
}

.col-botao {
    margin-top: 15px;
    text-align: end;
}

.alert-secondary {
    font-family: $font-family-Lato-Regular!important;
    font-size: 17px!important;
}

.margin-right {
    margin-right: 5px;
}

.margin-left {
    margin-left: 5px;
}