@import '~/../../../../styles.scss';
@import '~/../../../../styles.scss';
.btn-menu-principal-togle {
    @include media-breakpoint-down(sm) {
        float: right !important;
        margin: initial !important;
    }
    @include media-breakpoint-down(md) {
        float: right !important;
        margin-right: initial !important;
    }
    background-color: $corPrimaria;
    .navbar-toggler-icon {
        width: initial;
        height: initial;
        i {
            color: $corBranca;
        }
    }
    &:focus {
        border: none;
        outline: none;
    }
}

.col-box-menu-principal-site {
    @include media-breakpoint-down(lg) {
        @include rem(margin-top, 30);
    }
    @media (max-width: 768px) {
        @include rem(margin-top, 30);
    }
    @include rem(margin-top, 20);
    nav {
        @include media-breakpoint-down(lg) {
            padding-left: 0px;
        }
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        .navbar-brand {
            color: $corPrimaria;
        }
    }
}

.col-box-item-menu-principal {
    @media (max-width: 991px) {
        margin-top: 15px;
        padding-left: 15px;
        border-radius: 5px;
        background-color: $corSecundaria;
    }
    width: 100%;
    float: left;
    ul {
        li {
            @media(max-width: 1024px) {
                @include rem(margin-right, 5);
            }
            @include rem(margin-right, 30);
            a {
                font-size: 16px;
                color: $corBranca;
                line-height: 1.19;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                font-family: $font-family-Lato-Regular;
            }
            i {
                margin-right: 8px;
                font-size: 18px;
            }
        }
        li:last-child {
            @include rem(margin-right, 0);
        }
    }
}

.teste {
    text-align: center;
    span {
        font-family: $font-family-Lato-Regular;
        @include rem(font-size, 32);
    }
}

.container-menu {
    background-color: $corPrimaria;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.04);
    border-bottom: solid 1px $corPrimaria;
}