<div class="container-fluid container-menu">
    <div class="container">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="row no-gutters">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg content-row-line">
                            <div class="navbar-brand d-sm-none">

                            </div>

                            <button class="navbar-toggler btn-menu-principal-togle mx-auto" type="button" data-toggle="collapse" data-target="#menuPrincipalNasvbarDropDown" aria-controls="menuPrincipalNasvbarDropDown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon">
                                    <i class="fas fa-bars"></i>
                                    </span>
                                </button>

                            <div class="col-box-item-menu-principal collapse navbar-collapse" id="menuPrincipalNasvbarDropDown">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/Admin/Aprovacao-Dados']" routerLinkActive="active">
                                            <span class="hide-menu">Aprovação de Dados</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/Admin/Vagas']">
                                            <span class="hide-menu">Vagas</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/Admin/Campus']">
                                            <span class="hide-menu">Campi</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link link-associa-se" [routerLink]="['/Admin/Cargos']">
                                            <span class="hide-menu">Cargos</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link link-associa-se" [routerLink]="['/Admin/Bloqueios']">
                                            <span class="hide-menu">Bloqueios</span>
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/Relatorio-Remocao']">
                                            Relatório de Remoção
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/Admin/Usuarios-Cadastrados']" routerLinkActive="active">
                                            <span class="hide-menu">Usuários</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>