<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Listagem de Distância entre Campi</span>
            </div>
            <div class="crud">
                <a (click)="cadastrar()" class=" btn botao-principal-invertido "><i class="fas fa-plus "></i>Adicionar</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="row ">
                    <div style="width: 100% " *ngIf="mensagem">
                        <p class="alert alert-success text-success text-center" role="alert ">
                            <b> {{ mensagem }} </b>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </p>
                    </div>
                </div>
                <div class="row ">
                    <div style="width: 100% " *ngIf="alerta_de_campus; else listaCampus">
                        <p class="alert alert-danger text-danger text-center " role="alert">
                            <b>Nenhum Campus Próximo Cadastrado!</b>
                        </p>
                    </div>
                </div>
                <ng-template #listaCampus>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="col-menor">#</th>
                                <th scope="col">Campus Origem</th>
                                <th scope="col">Campus Destino</th>
                                <th scope="col">Distância</th>
                                <th scope="col" class="col-config">Configurações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataSourceCampusProximo | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                                <td>
                                    <div class="item-list-text">{{ itemsPerPage * (currentPage - 1) + i+1 }}</div>
                                </td>

                                <td>
                                    <div class="item-list-text">{{ item.campus_origem }}</div>
                                </td>

                                <td>
                                    <div class="item-list-text">{{ item.campus_destino }}</div>
                                </td>
                                <td>
                                    <div class="item-list-text">{{ item.distancia }}</div>
                                </td>

                                <td>
                                    <a (click)="Editar(item.id)" class="btn bg-light-primary"><i class="fas fa-pencil-alt"></i></a>
                                    <a (click)="Excluir(item.id)" data-toggle="modal" data-target="#excluir_campus" class="btn bg-light-terciary "><i class="fas fa-times "></i></a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="col-12">
                        <div class="row row-paginacao justify-content-center">
                            <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Próximo" autoHide="true" responsive="true"></pagination-controls>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="excluir_campus" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Excluir Campus Próximo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                Realmente deseja excluir este Campus Próximo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn botao-principal-invertido" data-dismiss="modal">Fechar</button>
                <button (click)="EnviarExclusao(id_campus_excluir)" class="btn botao-cancelar" data-dismiss="modal">Excluir</button>
            </div>
        </div>
    </div>
</div>