<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 vinheta">
                <span>Avaliações dos Dados Cadastrados</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 botoes">
                <a href="Inscricoes/" class="btn botao-voltar" style="margin-right: 5px;">Voltar</a>
                <a href="/Editar-Dados-Pessoais" class="btn botao-principal" tyle="margin-left: 5px;">Editar Dados</a>
            </div>
        </div>
        <div class="row" *ngFor="let item of dataSourceMensagens">
            <div class="col-12">
                <div class="panel panel-primary panel-formulario-mensagem">
                    <div class="panel-heading">
                        <p>Avaliação do Dia {{ dataFormat(item.data_criacao) }} </p>
                        <span style="white-space: pre-line">
                            {{ item.mensagem }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>