<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 vinheta">
                <span>Minha Inscrição</span>
            </div>
        </div>

        <div class="row">
            <div *ngIf="dados_aprovados; else alertaDados" class="col-12">
                <app-remocao></app-remocao>
            </div>
        </div>

        <div class="row">
            <ng-template #alertaDados>
                <div class="col-12" *ngIf="cadastro_dados; else cadastrarDados">
                    <div class="alert alert-danger text-danger text-center" role="alert">
                        <b>{{ alerta_de_dados }}</b>
                        <hr>
                        <p class="mb-0"> Em caso de dúvidas, entre em contato com a Reitoria.</p>
                    </div>
                </div>
                <ng-template #cadastrarDados>
                    <div class="col-12">
                        <div class="alert alert-danger text-danger text-center" role="alert">
                            <b>{{ alerta_de_dados }}</b>
                        </div>
                        <div class="row float-right">
                            <div class="col-12">
                                <a href="Dados-Pessoais/" class="btn botao-principal">Cadastrar Dados</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>

<div *ngIf="visualizar_dados">
    <app-visualizar></app-visualizar>
</div>