<!-- <div class="container-fluid container-header">
  <div class="container">
    <div class="row align-items-center justify-content-center">
        <a href="" class="logo">
          <img class="img-fluid w-100" src="../assets/imagens/IF.png" alt="">
        </a>
    </div>
  </div>
</div> -->


<app-menu></app-menu>


<!-- <div class="container-fluid container-footer" style="padding-top: 15px; padding-bottom: 15px; margin-top: 30px; background-color: #EFEFEF">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <a href="http://ifmt.edu.br/" target="_blank">
              Todos os Direitos Reservados - IFMT - data
          </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="mailto:gabi.gsantos@hotmail.com">
              Desenvolvido por: Gabriela Santos
          </a>
            </div>
        </div>
    </div>
</div> -->