<div class="container-fluid container-fluid-admin">
    <div class="container container-admin">
        <div class="row">
            <div class="col-12 vinheta vinheta-admin">
                <span>Aprovação de Dados</span>
            </div>
            <div class="col-12">
                <div class="row">
                    <div style="width: 100%" *ngIf="mensagem">
                        <p class="alert alert-success text-success text-center" role="alert">
                            <b> {{ mensagem }} </b>
                        </p>
                    </div>
                    <div style="width: 100%" *ngIf="mensagem_error">
                        <p class="alert alert-danger text-danger text-center" role="alert">
                            <b> {{ mensagem_error }} </b>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div style="width: 100%" *ngIf="alerta_de_dados; else listaDados">
                        <p class="alert alert-danger text-danger text-center" role="alert">
                            <b>Nenhum dado cadastrado para Avaliação!</b>
                        </p>
                    </div>
                </div>

                <ng-template #listaDados>
                    <table class="table table-bordered table-hover tabela-lista">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Matrícula</th>
                                <th scope="col">Data Cadastro</th>
                                <th scope="col">Avaliar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataSource | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                                <td>
                                    <div class="item-list-text">{{ itemsPerPage * (currentPage - 1) + i+1 }}</div>
                                </td>
                                <td class="col-conteudo">
                                    <div class="item-list-text">{{ item.nome }}</div>
                                </td>

                                <td class="col-conteudo">
                                    <div class="item-list-text">{{ item.matricula }}</div>
                                </td>

                                <td class="col-conteudo">
                                    <div class="item-list-text">{{ dataFormat(item.data_atualizacao) }}</div>
                                </td>

                                <td class="col-botao">
                                    <a (click)="Aprovar(item)" class="btn bg-light-primary"><i class="fa fa-cog"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-12">
                        <div class="row row-paginacao justify-content-center">
                            <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Próximo" autoHide="true" responsive="true"></pagination-controls>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>