<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Cadastro de Campus</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger text-center" role="alert">
                        Erro ao realizar o cadastro de dados
                    </div>
                </div>
                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="campusForm" (ngSubmit)="enviarCampus(campusForm.value)">
                        <div class="row">
                            <input type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus</span>
                                    <div class="input-group">
                                        <input type="text" class="input-formulario form-control" formControlName="nome" placeholder="Digite o nome do Campus" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row no-gutters align-items-center float-right botoes-sic">
                                    <div class="col-box-sic-btn" style="margin-right: 15px;">
                                        <a [routerLink]="['/Admin/Campus']">
                                            <span>Cancelar</span>
                                        </a>
                                    </div>
                                    <div class="float-right ">
                                        <button type="submit " class="btn botao-principal " [disabled]="!campusForm.valid">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>