<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Cadastro Permanente de Remoção</span>
            </div>
            <div class="crud" *ngIf="listaSelecionada">
                <a (click)="ngOnInit()" class=" btn botao-principal-invertido ">Voltar</a>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="!listaSelecionada">
            <div class="col-12">
                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="inscricaoForm" (ngSubmit)="postInscricao(inscricaoForm.value)">
                        <div class="row">
                            <input type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control" formControlName="campus">
                                            <option [ngValue]="null">Escolha o Campus</option>                                            
                                            <option *ngFor="let item of dataSourceCampus" value="{{item.id}}">{{item.nome}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Área de Formação</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control" formControlName="area" (change)="onChangeArea($event.target.value)">
                                            <option [ngValue]="null">Escolha a área</option>                                            
                                            <option value="1"> Professor do Ensino Básico, Técnico e Tecnológico </option>
                                            <option value="2"> Técnico </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group" *ngIf="definir_cargo">
                                    <span>Cargo</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control form-cargo" formControlName="cargo">
                                            <option [ngValue]="null">Escolha o Cargo</option>                                            
                                            <option *ngFor="let item of dataSourceCargo" value="{{item.id}}">{{item.nome}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-botoes">
                                <div class="row no-gutters align-items-center float-right botoes-sic">
                                    <div class="float-right ">
                                        <button type="submit " class="btn botao-principal " [disabled]="!inscricaoForm.valid">Pesquisar Inscrições</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12" *ngIf="listaSelecionada">
            <div class="row">
                <div style="width: 100%" *ngIf="alerta_de_inscrito; else listaInscricoes">
                    <p class="alert alert-danger text-danger text-center " role="alert">
                        <b>Nenhuma Inscrição no Cadastrado Permanente de Remoção!</b>
                    </p>
                </div>
            </div>
            <ng-template #listaInscricoes>

                <div class="panel-formulario panel-formulario-pesquisa">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="input-formulario form-control" [(ngModel)]="term" placeholder="Pesquisar" />
                            <div class="input-group-append">
                                <button class="btn btn-calendario" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Classificação</th>
                            <th scope="col">Servidor</th>
                            <th scope="col">Campus</th>
                            <th scope="col">Data Ingresso Campus</th>
                            <th scope="col">Data Ingresso IFMT</th>
                            <th scope="col">Nascimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSourceLista |filter:term | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                            <td>
                                <div class="item-list-text">{{ item.id }}º</div>
                            </td>

                            <td>
                                <div class="item-list-text">{{ item.nome }}</div>
                            </td>

                            <td>
                                <div class="item-list-text">{{ campus_selecionado }}</div>
                            </td>

                            <td>
                                <div class="item-list-text ">{{ dataFormat(item.data_ingresso_campus) }}</div>
                            </td>

                            <td>
                                <div class="item-list-text ">{{ dataFormat(item.data_ingresso_ifmt) }}</div>
                            </td>

                            <td>
                                <div class="item-list-text ">{{ dataFormat(item.nascimento) }}</div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div class="col-12">
                    <div class="row row-paginacao justify-content-center">
                        <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Próximo" autoHide="true" responsive="true"></pagination-controls>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>