@import '../../styles.scss';
@import '../administrador/administrador.component.scss';
.panel-formulario-pesquisa {
    margin-bottom: 0px;
    height: 38px;
    width: 100%;
}

.col-config {
    min-width: 200px!important;
    width: 200px!important;
}

.col-botoes {
    justify-items: end;
    display: flex;
    justify-content: flex-end;
}

.col-menor {
    width: 40px!important;
}

.table {
    margin-top: 30px;
}

.row-config {
    justify-content: flex-end;
    width: 100%;
}