<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Cadastro de Campus Próximo</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger text-center" role="alert">
                        Erro ao realizar o cadastro de campus próximo
                    </div>
                </div>
                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="campusForm" (ngSubmit)="enviarCampus(campusForm.value)">
                        <div class="row">
                            <input type="hidden" value="add" name="input_action" id="input_action" class="input_action">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control" formControlName="campus_destino" [ngClass]="{ 'is-invalid': submitted && f.campus_destino.errors }">
                                            <option [ngValue]="null">Escolha o Campus</option>                                            
                                            <option *ngFor="let item of dataSource" value="{{item.id}}">{{item.nome}} </option>
                                        </select>
                                        <div *ngIf="submitted && f.campus_destino.errors" class="invalid-feedback">
                                            <div *ngIf="f.campus_destino.errors.required">Campus Obrigatório.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Distância</span>
                                    <div class="input-group">
                                        <input type="number" class="input-formulario form-control" formControlName="distancia" placeholder="Digite a distância entre campi" [ngClass]="{ 'is-invalid': submitted && f.distancia.errors }" />
                                        <div *ngIf="submitted && f.distancia.errors" class="invalid-feedback">
                                            <div *ngIf="f.distancia.errors.required">Distância obrigatória.</div>
                                            <div *ngIf="f.distancia.errors.pattern">Distância precisa ser um número.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row no-gutters align-items-center float-right botoes-sic">
                                    <div class="col-box-sic-btn" style="margin-right: 15px;">
                                        <a (click)="CampusProximo()">
                                            <span>Cancelar</span>
                                        </a>
                                    </div>
                                    <div class="float-right ">
                                        <button type="submit " class="btn botao-principal ">Cadastrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>