<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Cadastro de Vagas</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger text-center" role="alert">
                        Erro ao realizar o cadastro de dados
                    </div>
                </div>
                <div class="panel panel-primary panel-formulario">
                    <form [formGroup]="vagasForm" (ngSubmit)="postVagas(vagasForm.value)">
                        <div class="row">
                            <input type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control" formControlName="campus">
                                            <option [ngValue]="null">Escolha o Campus</option>                                            
                                            <option *ngFor="let item of dataSourceCampus" value="{{item.id}}">{{item.nome}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Área de Formação</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control" formControlName="area" (change)="onChangeArea($event.target.value)">
                                            <option [ngValue]="null">Escolha a área</option>                                            
                                            <option value="1"> Professor do Ensino Básico, Técnico e Tecnológico </option>
                                            <option value="2"> Técnico </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group" *ngIf="definir_cargo">
                                    <span>Cargo</span>
                                    <div class="input-group">
                                        <select class="input-formulario form-control form-cargo" formControlName="cargo">
                                            <option [ngValue]="null">Escolha o Cargo</option>                                            
                                            <option *ngFor="let item of dataSourceCargo" value="{{item.id}}">{{item.nome}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row no-gutters align-items-center float-right botoes-sic">
                                    <div class="col-box-sic-btn" style="margin-right: 15px;">
                                        <a [routerLink]="['/Admin/Vagas']">
                                            <span>Cancelar</span>
                                        </a>
                                    </div>
                                    <div class="float-right ">
                                        <button type="submit " class="btn botao-principal " [disabled]="!vagasForm.valid">Enviar seus Dados</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>