<div *ngIf="bloqueio_remocao; else remocao" class="alert alert-danger text-danger text-center" role="alert">
    <b> Sua inscrição para o Cadastro Permanente de Remoção foi bloqueada até o dia {{ data_bloqueio }}</b>
    <hr>
    <p class="mb-0"> <b>Motivo:</b> {{ motivo_bloqueio }}</p>
</div>

<ng-template #remocao>
    <div *ngIf="cadastro_remocao; else listaRemocao">
        <div class="alert alert-teste text-center" role="alert">
            Dados Aprovados! Realize a Inscrição para Remoção
        </div>
        <div class="row float-right">
            <div class="col-12">
                <a href="Inscricao-Remocao/" class="btn botao-principal">Inscreva-se</a>
            </div>
        </div>
    </div>

    <ng-template #listaRemocao>
        <app-lista-remocao></app-lista-remocao>
    </ng-template>
</ng-template>