@import '~/../../../../styles.scss';
@import '../administrador.component.scss';
.panel-formulario-pesquisa {
    margin-bottom: 0px;
    height: 38px;
    width: 60%;
}

.col-config {
    min-width: 200px!important;
    width: 200px!important;
}

.col-menor {
    width: 40px!important;
}