<!-- <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 vinheta">
                <span>Administrador</span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills nav-admin" id="tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" data-toggle="pill" href="#dados"><i class="fas fa-angle-double-right icon-seta"></i>Aprovação de Dados</a>
                    <a class="nav-link" data-toggle="pill" href="#campi"><i class="fas fa-angle-double-right icon-seta"></i>Campi</a>
                    <a class="nav-link" data-toggle="pill" href="#areas"><i class="fas fa-angle-double-right icon-seta"></i>Áreas</a>
                    <a class="nav-link" data-toggle="pill" href="#cargos"><i class="fas fa-angle-double-right icon-seta"></i>Cargos</a>
                    <a class="nav-link" data-toggle="pill" href="#vagas"><i class="fas fa-angle-double-right icon-seta"></i>Vagas</a>
                    <a class="nav-link" data-toggle="pill" href="#bloqueio"><i class="fas fa-angle-double-right icon-seta"></i>Bloqueios</a>
                    <a class="nav-link" data-toggle="pill" href="#bloqueio"><i class="fas fa-angle-double-right icon-seta"></i>Usuários Cadastrados</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="dados">
                        <app-aprovacao-dados></app-aprovacao-dados>
                    </div>
                    <div class="tab-pane fade" id="campi">A</div>
                    <div class="tab-pane fade" id="areas">B</div>
                    <div class="tab-pane fade" id="cargos">C</div>
                    <div class="tab-pane fade" id="vagas">
                        <app-aprovacoes></app-aprovacoes>
                    </div>
                    <div class="tab-pane fade" id="bloqueio">D</div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-end">
            <h1>ADMIN</h1>
        </div>
    </div>
</div>