@import '~/../../../styles.scss';
.vinheta {
    padding: 0 !important;
    span {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.container-admin {
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #f2f2f2;
    background-color: $corBranca;
    @include rem(padding, 40 50 30 50);
    @include rem(margin-bottom, 30);
    .vinheta-admin {
        margin-bottom: 30px;
    }
}