// Import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import "/assets/styles/_breakpoints";
@import "/assets/styles/_mixins";
@import "/assets/styles/_fonts";

/* 
  Configurações Globais
*/

html {
    font-size: $tamanhoRaiz;
    font-family: "Lato";
    body {
        background-color: #f8f8f8;
    }
}

.content-row-line {
    width: 100%;
    float: left;
}

.vinheta {
    @include rem(padding-left, 0);
    @include rem(padding-top, 60);
    @include rem(padding-bottom, 15);
    span {
        @include rem(font-size, 30);
        @include rem(margin-bottom, 30);
        position: relative;
        color: #313539;
        float: left;
        width: 100%;
        line-height: 1.21;
        font-family: $font-family-Lato-Bold;
    }
}

.botao-principal {
    @include rem(font-size, 18);
    background-color: $corPrimaria;
    color: $corBranca!important;
    font-family: $font-family-Lato-Bold;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    // margin-left: 2rem;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    i {
        padding-right: 5px;
    }
}

.botao-principal:hover {
    background-color: $corBranca;
    color: $corSecundaria!important;
    border: 1px solid $corPrimaria;
    cursor: pointer;
}

.botao-principal-invertido {
    @include rem(font-size, 18);
    background-color: $corBranca;
    border: 1px solid $corPrimaria;
    color: $corSecundaria!important;
    font-family: $font-family-Lato-Bold;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    // margin-left: 2rem;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    i {
        padding-right: 5px;
    }
}

.botao-principal-invertido:hover {
    background-color: $corPrimaria;
    color: $corBranca!important;
    border: 1px solid $corPrimaria;
    cursor: pointer;
}

.botao-cancelar {
    @include rem(font-size, 18);
    background-color: $corBranca;
    border: 1px solid $corErro;
    color: $corErro;
    font-family: $font-family-Lato-Bold;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.botao-cancelar:hover {
    background-color: $corErro;
    color: $corBranca;
    cursor: pointer;
}

.panel-formulario-codigo {
    position: absolute;
    @media screen and (max-width: 991px) {
        position: relative;
        // min-height: 250px;
        @include rem(padding, 40 30 90 30);
    }
    border-radius: 8px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #f2f2f2;
    background-color: $corBranca;
    @include rem(padding, 40 30 30 30);
    @include rem(margin-bottom, 30);
    .botao {
        display: flex;
        width: 100%;
        justify-content: center;
        .botao-principal {
            margin-left: 0;
        }
    }
    .panel-heading {
        text-align: left;
        color: $corCInzaEscuro;
        p {
            @include rem(font-size, 23);
            font-weight: 900;
            line-height: 1.33;
            font-family: $font-family-Lato-Bold;
            margin: 0;
        }
        span {
            font-family: $font-family-Lato-Regular;
            @include rem(font-size, 18);
            // @include rem(padding-bottom, 30);
            // @include rem(padding-top, 30);
            line-height: 2;
            display: block;
        }
    }
}

.panel-formulario {
    @include rem(margin-bottom, 30);
    .form-group {
        @include rem(margin-bottom, 30);
    }
    span {
        font-family: $font-family-Lato-Bold;
        @include rem(font-size, 18);
        text-align: left;
        color: $corEscura;
    }
    #input_justificativa {
        @include placeholder {
            color: $corEscura;
        }
    }
    .aviso {
        font-family: $font-family-Lato-Black;
        @include rem(font-size, 18);
        text-align: left;
        color: $corEscura;
    }
    .form-control {
        background-color: transparent;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid $corEscura;
        border-radius: 0px;
        color: #495057;
        font-family: $font-family-Lato-Regular;
        box-shadow: none;
        height: 38px;
        //width: 100%;
        @include rem(font-size, 18);
    }
    textarea {
        background-color: transparent;
        border: 1px solid $corEscura;
        border-radius: 0px;
        color: $corEscura;
        font-family: $font-family-Lato-Regular;
        box-shadow: none;
        height: 200px;
        width: 100%;
        @include rem(font-size, 18);
        margin-top: 9px;
        padding: 15px;
    }
    .reveal-if-active {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        transition: 0.5s;
    }
    .input_optionsRadios {
        position: relative;
        top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .shared {
        display: none;
        &:checked+label:before {
            background: none repeat scroll 0 0 $corPrimaria;
            box-shadow: inset 0 0 0 3px $corPrimaria;
        }
        &+label:before {
            width: 15px;
            height: 15px;
            border-radius: 8px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border: solid 1px $corEscura;
            display: inline-block;
            position: relative;
            content: " ";
            cursor: pointer;
            position: relative;
            top: 3px;
            margin-right: 10px;
        }
        &+label:after {
            background: none repeat scroll 0 0 #000;
            border-radius: 50px 50px 50px 50px;
            content: " ";
            height: 7px;
            width: 7px;
        }
    }
    input[type="radio"]:checked~.reveal-if-active,
    input[type="checkbox"]:checked~.reveal-if-active {
        opacity: 1;
        max-height: 100px;
        // padding: 0px 50px 10px 0px;
        -webkit-transform: scale(1);
        transform: scale(1);
        overflow: visible;
    }
    .input_optionsRadios {
        position: relative;
        top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

.btn-calendario {
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid $corEscura;
    border-radius: 0px;
    color: $corEscura;
}

%btn-circle {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    border-radius: 100%;
    width: 40px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    i {
        color: $corBranca;
    }
}

%btn-circle:hover {
    background: $corBranca;
    cursor: pointer;
}

.bg-light-primary {
    background: #5fe48b;
    border: 1px solid #5fe48b;
    @extend %btn-circle;
}

.bg-light-primary:hover {
    i {
        color: #5fe48b;
    }
}

.bg-light-primary-2 {
    background: #85c1ea;
    border: 1px solid #85c1ea;
    @extend %btn-circle;
}

.bg-light-primary-2:hover {
    i {
        color: #85c1ea;
    }
}

.bg-light-secundary {
    background: #e1c950;
    border: 1px solid #e1c950;
    @extend %btn-circle;
}

.bg-light-secundary:hover {
    i {
        color: #e1c950;
    }
}

.bg-light-terciary {
    background: #e04962;
    border: 1px solid #e04962;
    @extend %btn-circle;
}

.bg-light-terciary:hover {
    i {
        color: #e04962;
    }
}

.ngx-pagination {
    .current {
        background: $corPrimaria!important;
        border-radius: 6px!important;
    }
}

.row-paginacao {
    margin-top: 30px;
}