/*
  Fonte Black
*/

@font-face {
    font-family: "Lato-Black";
    src: url("/assets/fonts/Lato-Black.woff") format("woff2"), url("/assets/fonts/Lato-Black.woff") format("woff"), url("/assets/fonts/Lato-Black.ttf") format("truetype");
}


/*
    Fonte Bold
  */

@font-face {
    font-family: "Lato-Bold";
    src: url("/assets/fonts/Lato-Bold.woff2") format("woff2"), url("/assets/fonts/Lato-Bold.woff") format("woff"), url("/assets/fonts/Lato-Bold.ttf") format("truetype");
}


/* 
    Fonte Regular
  */

@font-face {
    font-family: "Lato-Regular";
    src: url("/assets/fonts/Lato-Regular.woff2") format("woff2"), url("/assets/fonts/Lato-Regular.woff") format("woff"), url("/assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-500";
    src: url("/assets/fonts/montserrat-500.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-600";
    src: url("/assets/fonts/montserrat-600.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-700";
    src: url("/assets/fonts/montserrat-700.woff2") format("woff2");
}