@import "breakpoints";
// =============================================================================
// Variaveis
// =============================================================================
$tamanhoRaiz: 20;
$corBranca: #ffffff;
$corClara: #f8f5f7;
$light: #e9edf2;
$corPreta: #000000;
$corPrimaria: #359830;
$corPrimariaClara: #79d375;
$corSecundaria: #215e1e;
$corTerciaria: #0d240b;
$corCInzaEscuro: #1f2c30;
$corEscura: #1f2c30;
$corQuaternaria: #EFEFEF;
$corQuinAria: #1A1D24;
$corSucesso: #28A745;
$corErro: #ef2f3c;
$danger-dark: #e6294b;
$corDefault: #8A94A6;
$sidebar-text: #8d97ad;
$sidebar-icons: #787f91;
$muted: #bcc3d3;
$corHoverSecundaria:#629E97;
$corTransparente: transparent;
$border: rgba(120, 130, 140, 0.13);
//-------------------------
$font-family-Lato: "Lato" !default;
$font-family-Lato-Bold: "Lato-Bold" !default;
$font-family-Lato-Black: "Lato-Black" !default;
$font-family-Lato-Regular: "Lato-Regular" !default;
$font-family-Montserrat: "Montserrat" !default;
$font-family-Montserrat-500: "Montserrat-500" !default;
$font-family-Montserrat-600: "Montserrat-600" !default;
$font-family-Montserrat-700: "Montserrat-700" !default;
// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff ttf) {
    $src: null;
    $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
    $formats: ( otf: "opentype", ttf: "truetype");
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote("../" + $path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

// =============================================================================
// Rem Converter
// =============================================================================
@function get-rem($value) {
    @if $value==0 {
        @return 0;
    }
    @return ($value / $tamanhoRaiz)+rem;
}

$sides: (top,
right,
bottom,
left);
@mixin rem($property,
$values,
$important: '') {
    $len: length($values);
    @if $len==1 {
        #{$property}: get-rem($values) #{$important};
    }
    @else if $len==2 {
        $times: 1;
        @each $side in $sides {
            @if ($times % 2) !=0 {
                #{$property}-#{$side}: get-rem(nth($values, 1)) #{$important};
            }
            @else {
                #{$property}-#{$side}: get-rem(nth($values, 2)) #{$important};
            }
            $times: $times+1;
        }
    }
    @else {
        $times: 1;
        @each $side in $sides {
            #{$property}-#{$side}: get-rem(nth($values, $times)) #{$important};
            $times: $times + 1;
        }
    }
}

// =============================================================================
// Variation
// =============================================================================
@mixin variation($property,
$value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

// =============================================================================
// Placeholder
// =============================================================================
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::placeholder {
        @content;
    }
}