@import '~/../../../../../styles.scss';
@import '~/../../../administrador.component.scss';
tr {
    cursor: pointer;
}

.panel-formulario-pesquisa {
    margin-bottom: 0px;
    height: 38px;
    width: 60%;
}

.col-tabela {
    padding: 0;
    margin-top: -20px;
    .panel-tabela {
        border-radius: 8px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.14);
        border: solid 1px #f2f2f2;
        background-color: #ffffff;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        margin-bottom: 5px;
        overflow-y: scroll;
        max-height: 300px;
    }
}

::-webkit-scrollbar-thumb {
    background: $corPrimariaClara!important;
    border-radius: 12px!important;
}

::-webkit-scrollbar {
    width: 8px;
}

.row-bloqueio {
    margin-top: 30px;
}

.panel-formulario-codigo {
    width: 90%;
    form {
        padding-top: 30px;
    }
    textarea {
        width: 100%;
        padding: 15px;
        height: 140px;
        margin-bottom: 10px;
    }
    span {
        font-family: $font-family-Lato-Bold!important;
        font-size: 0.9rem;
        text-align: left;
        color: #1f2c30;
    }
}

.margin-left {
    margin-left: 10px;
}

.col-botoes {
    text-align: end;
}