<div class="container-fluid container-fluid-admin">

    <div class="container container-admin">
        <div class="row justify-content-between align-items-center vinheta-admin">
            <div class="vinheta">
                <span>Bloquear Servidor</span>
            </div>
            <div class="panel panel-primary panel-formulario panel-formulario-pesquisa">
                <form [formGroup]="pesquisaUser" (ngSubmit)="pesquisarUsuario(pesquisaUser.value)">
                    <input type="hidden" value="add" name="input_action" id="input_action" class="input_action">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="input-formulario form-control" formControlName="busca" placeholder="Pesquise o Servidor por nome ou matrícula" />
                            <div class="input-group-append">
                                <button class="btn btn-calendario" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div *ngIf="busca_usuario && !ver_usuarioSelecionado">
            <div class="row justify-content-end">
                <div class="col-8 col-tabela">

                    <div class="panel panel-primary panel-tabela">

                        <table class="table table-sm table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Matrícula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataSourceUsuario" (click)="setUsuario(item)">
                                    <td> {{ item.nome }}</td>
                                    <td> {{ item.matricula }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12">
                <div *ngIf="alerta_erro">
                    <div class="alert alert-danger text-center" role="alert">
                        Erro ao realizar o cadastro de bloqueio
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bloqueio" *ngIf="ver_usuarioSelecionado">

            <div class="col-12 col-lg-4">
                <div class="panel panel-primary panel-formulario panel-formulario-codigo">
                    <div class="panel-heading">
                        <p>Cadastrar Bloqueio</p>
                        <form [formGroup]="bloqueioForm">
                            <div class="form-group">
                                <span>Bloquear até o dia:</span>
                                <div class="input-group">
                                    <input type="text" class="input-formulario form-control" formControlName="data_liberacao" placeholder="Digite a data de desbloqueio" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" [minDate]="{year: 2019, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}"
                                        [markDisabled]="isDisabled">
                                    <div class="input-group-append">
                                        <button class="btn btn-calendario" (click)="d2.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group">
                                <span>Justificativa</span>
                                <textarea formControlName="justificativa" width="100%" rows="4" placeholder="Digite aqui seu comentário para o servidor"></textarea>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-12 col-botoes">
                                    <button [routerLink]="['/Admin/Bloqueios']" class="btn botao-cancelar">Cancelar</button>
                                    <button (click)="enviarDados(bloqueioForm.value)" type="submit" [disabled]="!bloqueioForm.valid" class="btn botao-principal margin-left">Enviar</button>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-8 order-lg-first">

                <div class="panel panel-primary panel-formulario">


                    <form [formGroup]="usuarioForm">
                        <div class="row">
                            <input disabled type="hidden" value="add" name="input_action" id="input_action" class="input_action">

                            <div class="col-12 col-lg-12">
                                <div class="form-group">
                                    <span>Nome Completo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nome" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Matrícula do IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="matricula" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Nascimento</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="nascimento" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>E-mail</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="email" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Telefone</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" name="telefone" formControlName="telefone" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no IFMT</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_ifmt" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Data de Ingresso no Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="data_ingresso_campus" ngbDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-calendario" type="button"><i class="fas fa-calendar-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Campus Atual</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="campus_atual">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span>Área de Formação</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="area">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <span>Cargo</span>
                                    <div class="input-group">
                                        <input disabled type="text" class="input-formulario form-control" formControlName="cargo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>